<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>J</key>
	<dict>
		<key>period</key>
		<integer>-11</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>ampersand</key>
		<integer>4</integer>
		<key>period</key>
		<integer>1</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>ampersand</key>
		<integer>-48</integer>
		<key>period</key>
		<integer>3</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>backslash</key>
		<integer>-6</integer>
		<key>bracketright</key>
		<integer>9</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>nine</key>
		<integer>-12</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>backslash</key>
		<integer>-4</integer>
		<key>bracketright</key>
		<integer>11</integer>
	</dict>
	<key>five.numr</key>
	<dict>
		<key>fraction</key>
		<integer>25</integer>
	</dict>
	<key>four.numr</key>
	<dict>
		<key>fraction</key>
		<integer>55</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>eight.dnom</key>
		<integer>17</integer>
		<key>five.dnom</key>
		<integer>73</integer>
		<key>four.dnom</key>
		<integer>-4</integer>
		<key>nine.dnom</key>
		<integer>30</integer>
		<key>one.dnom</key>
		<integer>-10</integer>
		<key>seven.dnom</key>
		<integer>73</integer>
		<key>three.dnom</key>
		<integer>70</integer>
		<key>two.dnom</key>
		<integer>54</integer>
	</dict>
	<key>one.numr</key>
	<dict>
		<key>fraction</key>
		<integer>61</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>nine</key>
		<integer>-20</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>period</key>
		<integer>-62</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>ampersand</key>
		<integer>-18</integer>
		<key>period</key>
		<integer>-64</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>period</key>
		<integer>-33</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>period</key>
		<integer>-41</integer>
	</dict>
	<key>six.numr</key>
	<dict>
		<key>fraction</key>
		<integer>24</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>nine</key>
		<integer>-18</integer>
	</dict>
	<key>three.numr</key>
	<dict>
		<key>fraction</key>
		<integer>35</integer>
	</dict>
	<key>two.numr</key>
	<dict>
		<key>fraction</key>
		<integer>83</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>period</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
