<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>742</integer>
	<key>capHeight</key>
	<integer>700</integer>
	<key>copyright</key>
	<string>Copyright 2011 - 2016 The Montserrat Project Authors (julieta.ulanovsky@gmail.com)</string>
	<key>descender</key>
	<integer>-194</integer>
	<key>familyName</key>
	<string>Montserrat</string>
	<key>italicAngle</key>
	<real>-11.300000000000001</real>
	<key>note</key>
	<string>Reintroduce old weightY interpolation values again ? </string>
	<key>openTypeHeadCreated</key>
	<string>2017/09/08 22:03:10</string>
	<key>openTypeHheaAscender</key>
	<integer>968</integer>
	<key>openTypeHheaDescender</key>
	<integer>-251</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameDesigner</key>
	<string>Julieta Ulanovsky</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://www.zkysky.com.ar/</string>
	<key>openTypeNameManufacturer</key>
	<string>Julieta Ulanovsky</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.zkysky.com.ar/</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Montserrat</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Black Italic</string>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>968</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-251</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2VendorID</key>
	<string>ULA</string>
	<key>openTypeOS2WeightClass</key>
	<integer>900</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1166</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>447</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>547</integer>
		<integer>567</integer>
		<integer>582</integer>
		<integer>600</integer>
		<integer>600</integer>
		<integer>620</integer>
		<integer>700</integer>
		<integer>720</integer>
		<integer>742</integer>
		<integer>762</integer>
	</array>
	<key>postscriptFontName</key>
	<string>Montserrat-BlackItalic</string>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-214</integer>
		<integer>-194</integer>
		<integer>-120</integer>
		<integer>-100</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>194</integer>
		<integer>191</integer>
		<integer>190</integer>
		<integer>176</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>236</integer>
		<integer>238</integer>
		<integer>226</integer>
		<integer>223</integer>
	</array>
	<key>styleMapFamilyName</key>
	<string>Montserrat Black</string>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>Black Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>6</integer>
	<key>versionMinor</key>
	<integer>3</integer>
	<key>xHeight</key>
	<integer>547</integer>
</dict>
</plist>
